.about-us {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .about-us header {
    margin-bottom: 40px;
  }
  
  .about-us h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  
  .about-us p,
  .about-us li {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .about-us ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  
  .about-us .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .about-us .d-flex {
    display: flex;
    align-items: center;
  }
  
  .about-us .img-fluid {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .about-us .testimonials blockquote {
    font-size: 1.1rem;
    margin-bottom: 20px;
    border-left: 5px solid #ccc;
    padding-left: 15px;
    color: #555;
  }
  
  .about-us .testimonials footer {
    font-size: 1rem;
    margin-top: 5px;
    color: #777;
  }

  
  
  .large-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container p {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
  }
  