* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

/* Excluye la clase .logo de los estilos generales */
.navbar li:not(.logo) a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar li:not(.logo) a:hover {
    background-color: #575757;
    border-radius: 5px;
}




