/* Estilos para el formulario de la empresa */
.company-container {
    background-color: #f5f5f5; /* Fondo gris claro */
    padding: 30px;
    border-radius: 10px;
    width: 400px; /* Ancho del formulario */
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.company-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.company-form-floating input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #393e46; /* Línea de fondo gris oscuro */
    background-color: transparent;
    border-radius: 0;
}

.company-form-floating label {
    color: #393e46; /* Color de texto gris oscuro */
}

/* Estilo para el botón de guardar */
.company-btn {
    background-color: #00adb5; /* Color de fondo turquesa */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.company-btn:hover {
    background-color: #393e46; /* Color de fondo gris oscuro al pasar el cursor */
}

/* Estilo para el enlace de regreso al inicio de sesión */
.company-navbar {
    display: flex;
    justify-content: flex-end;
}

.company-navbar .navbar-brand {
    color: #393e46; /* Color de texto gris oscuro */
    cursor: pointer;
}

.company-navbar .navbar-brand:hover {
    color: #00adb5; /* Color de texto turquesa al pasar el cursor */
}
